html {text-align:center}
h1 {color:orange; font-family:"Courier New",monospace;}
.def{color:green;font-size: x-large; font-style: italic;}
#tipo_datos{background-color: black;color:white;}
#datos_empresa{font-family: "Berlin Sans FB",Sans; font-weight: 400; color: blue;}